
/* Main Container */
.coruscant-container {
  display: block;
  position: relative;
  padding-top: 4%; /* Add gap above the carousel */
  height: 110vh; /* Full viewport height */
  overflow: hidden;
}

/* Carousel */
#coruscantCarousel {
  position: relative;
  height: 90%; /* Adjust carousel height to fit below the gap */
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  z-index: 0;
}

/* Logos Container */
.logos-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0%; /* Place logos within the gap */
  left: 80%;
  display: flex;
  gap: 2vw;
  align-items: center;
  z-index:103;
  width: 5%;
  /* background-color: #007bff; */
}

.logo {
  width: 8vw;
  height: auto;
  object-fit: contain;
}

/* Overlay and Other Styles */
.slanted-overlay {
  position: absolute;
  top: 10%; /* Align with carousel placement */
  width: 100%;
  height: 90%; /* Adjust overlay to match carousel height */
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  z-index: 2;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
/* Content */
.content {
  position: absolute;
  top: 60%; /* Adjust to match the new carousel placement */
  left: 5%;
  transform: translateY(-50%);
  font-weight: bold;
  z-index: 3; /* Ensure content appears above overlay */
  color: white;
}

.content h1 {
  font-size: 2.7rem;
  margin-bottom: 1.5rem;
}

.content h2,
.content h3 {
  font-size: 2rem;
  margin-bottom: 1.3rem;
}

.get-started-button {
  padding: 1rem 2rem;
  background-color: #007bff;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  z-index: 4; /* Keep the button above other content */
}

.get-started-button:hover {
  background-color: #0056b3;
}

.bottom-right-brand {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.7;
  width: 80px;
  height: auto;
  z-index: 3; /* Keep it above the carousel but below other content */
}


.carousel-control-next, .carousel-control-prev{

  z-index: 250;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  z-index: 100;
  cursor: pointer;
}

@media screen and (max-width: 430px) {
 .content{
  color: black;
  /* overflow-y: hidden; */
 }
 

}