<div class="coruscant-container">
  <!-- Carousel -->
  <div class="logos-container">
    <img src="assets/SkilledIndia.webp" alt="Logo 1" class="logo" loading="lazy" />
    <img src="assets/globalhealthsweden.webp" alt="Logo 2" class="logo" loading="lazy" />
    <img src="assets/AHPI.webp" alt="Logo 3" class="logo" loading="lazy" />
  </div>
  <div id="coruscantCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3500">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/landingpage/landingpage_carousel_image1.jpg"
          class="d-block w-100"
          alt="Coruscant 1"
          loading="eager"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/landingpage/landingpage_carousel_image2.jpg"
          class="d-block w-100"
          alt="Coruscant 2"
          loading="eager"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/landingpage/landingpage_carousel_image3.jpg"
          class="d-block w-100"
          alt="Coruscant 3"
          loading="eager"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/landingpage/landingpage_carousel_image4.jpg"
          class="d-block w-100"
          alt="Coruscant 4"
          loading="eager"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/landingpage/landingpage_carousel_image5.jpg"
          class="d-block w-100"
          alt="Coruscant 5"
          loading="eager"
        />
      </div>
    </div>

    <!-- Navigation Arrows -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#coruscantCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#coruscantCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
  

    <!-- Content -->
    <div class="content">
      <h1>General Duty Assistant</h1>
      <h2>Version 3</h2>
      <h3>NSQF Level 3</h3>
      <button class="get-started-button" (click)="gotomain()">Get Started</button>
    </div>
  </div>

  <!-- Bottom Right Brand Logo -->

