/* Main Container */
.coruscant-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Carousel (background) */
#coruscantCarousel {
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

#coruscantCarousel .carousel-inner img {
  height: 100vh;
  object-fit: cover;
}

/* Slanted Overlay */
.slanted-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000 30%, transparent);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  z-index: 2;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  padding: 5%;
}

/* Logos */
.logos-container {
  position: absolute;
  top: 5px;
  right: 15px;
  display: flex;
  gap: 15px;
}

.logo {
  width: 10px;
  height: 130px;
  object-fit: contain;
}

/* Content */
.content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content h2,
.content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.get-started-button {
  padding: 1rem 2rem;
  background-color: #007bff;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #0056b3;
}
