<div class="content">
  <div class="main-container">
    <!-- Module Component (left side) -->
    <app-module (moduleSelected)="displayModuleName($event)"></app-module>

    <!-- Display the selected submodule -->
    <div class="hide" *ngIf="selectedsubmodule">
      <div class="sub">{{ selectedsubmodule }}</div>
    </div>
    <div class="hide" *ngIf="!selectedsubmodule">
      <div class="sub">Select a Topic to Study.</div>
    </div>

    <!-- Study Area (center area) -->
    <div class="study-area">
      <app-study></app-study>
      <div class="navigationbuttonsdown" >
        <button (click)="navigate('back')" [disabled]="isFirstSubmodule()"> <p>{{ getPreviousSubmoduleName() || 'None' }}</p><< Back </button>
        <button (click)="navigate('next')" [disabled]="isLastSubmodule()">   <p>{{ getNextSubmoduleName() || 'None' }} </p> Next >> </button>
      </div>
    </div>

    <!-- Navigation Buttons -->

    



    

    

  </div>

  <app-maincontentnav></app-maincontentnav>

</div>
