<div class="content">
  <div class="main-container">
    <!-- Module Component (left side) -->

    <!-- <div class="module-overlay" *ngIf="isModuleOverlayVisible"> -->
      <app-module *ngIf="isModuleVisible" (moduleSelected)="displayModuleName($event)" (selectedsubmodule)="selectedsubmodule"  (closeMenu)="handleCloseModule()"></app-module>
      <!-- <button class="close-overlay" (click)="toggleModuleOverlay()">Close</button> -->
    <!-- </div> -->
  
    <!-- Display the selected submodule -->
    <div class="hide" *ngIf="selectedsubmodule">
      <div class="sub">{{ selectedsubmodule }}</div>
    </div>
    <div class="hide" *ngIf="!selectedsubmodule">
      <div class="sub">Select a Topic to Study.</div>
    </div>

    <!-- Study Area (center area) -->
    <div class="study-area">
      <app-study (nextStateEnabled)="handleNextButtonEnabling($event)" [userId]="userId"></app-study>
      <div class="navigationbuttonsdown" >
        <button (click)="navigate('back')" [disabled]="isFirstSubmodule()"> <p>{{ getPreviousSubmoduleName() || 'None' }}</p><< Back </button>
        <button (click)="navigate('next')" [disabled]="isLastSubmodule()">   <p>{{ getNextSubmoduleName() || 'None' }} </p> Next >> </button>
      </div>
    </div>

    <!-- for disabling next button replace this with next button -->

  </div>

  <app-maincontentnav  [userId]="userId"></app-maincontentnav>

</div>
