<div class="navcontainer">
  <div class="left">
    <button>
      <img src="/assets/skilledlogo.png" alt="Home" (click)="gotohome()" loading="lazy">
    </button>
  </div>

  <div class="center">General Duty Assistant</div>

<!-- Profile Button -->
<div class="right">
  Hi, {{studentData.name || 'Guest'}}
 
  <button (click)="toggleProfileOverlay()">
    <img src="assets/download.jpg" alt="Profile" />
  </button>
</div>

<!-- Profile Overlay -->
<div *ngIf="profileOverlayVisible" class="profile-overlay">
  <div class="overlay-content">
    <h3>Student Corner</h3>
    <div class="student-details">
      <p><strong>Name:</strong> {{ studentData.name || 'Guest' }}</p>
      <p><strong>Email:</strong> {{ studentData.email || 'Not Available' }}</p>
    </div>
    <button class="close-btn" (click)="toggleProfileOverlay()">Close</button>
    <button class="logout" (click)="goToLogin()">Log Out</button>

  </div>
</div>

</div>
