.container {
    display: flex;
    width: 100%;
    padding: 0px;
    /* background-color: #f4f0f0; */
    border-bottom: rgba(0, 0, 0, 0.6) 1px solid;
    margin: 0;
    height: 10vh;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;

    /* border-bottom: 2px solid #ccc; Add border for clarity */
    /* box-sizing: border-box; Ensure padding is included in width calculations */
  }
  
  ul {
    /* background-color: #f4f0f0; */

    display: flex;
    list-style-type: none;
    flex-wrap: nowrap; /* Prevent wrapping */
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    width: 100%; /* Ensure the ul spans 100% width */
  }
  
  ul li {
    margin: 0 10px; /* Space between list items */
    display: flex; /* Flex for alignment */
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
    /* background-color: #f4f0f0; */

    
  }
  
  li img {
    height: 20px;
    border: 2px;
    mix-blend-mode: multiply;
  }
  
  li h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    white-space: nowrap; /* Prevent text wrap */
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }
  
  li p {
    margin: 0;
    font-size: 1rem;
  }
  
  .toggle-button {
    display: none; /* Hidden by default */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 10px;
  }
  
  @media (max-width: 768px) {
    ul {
      justify-content: flex-start; /* Align items to the start */
    }
  
    li h1 {
      font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
  
    li p {
      font-size: 0.875rem; /* Adjust text size */
    }
  
    .toggle-button {
      display: block; /* Show toggle button */
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    }
  
    .logo-container {
      margin-left: auto;
    }
  
    /* Adjust logo size for small screens */
    li img {
      height: 20px;
    }
  
    /* Ensure ul spans the full width */
    ul {
      width: 100%;
    }

    
  }
  
  