.container{
    position: relative;
    right: 10%;
    top: 10%;
    /* left: 0%; */
}

.container ul{
    display: flex;
    width: auto;
    margin-left: 30px;
}
ul li {
    list-style-type: none;
}

ul li button{
    margin: 2px;
    list-style-type: none;
    border: 1px solid black;
    padding:4px;
    border-radius: 8px;
    font-size:small;
}

ul li:hover{
    background-color: rgb(250, 239, 227);
    scale: 1.05;
}

.container .ul2{
    display: flex;
}

