<div class="study-container">
    <div class="study-header" *ngIf="selectedSubmodule==null">
      <h2>Let's Study</h2>
    </div>
    <div class="study-content">
      
      <div *ngIf="selectedSubmodule=='Introduction Video'">
      <app-introduction-video>

      </app-introduction-video>

    </div>

    <div *ngIf="selectedSubmodule=='Historical Perspective'">
      <app-historical-perspective>

      </app-historical-perspective>

    </div>
    <div *ngIf="selectedSubmodule=='Healthcare Delivery Systems'">
      <app-healthcare-delivery-systems>

      </app-healthcare-delivery-systems>

    </div>

    <div *ngIf="selectedSubmodule=='Basic Terminologies'">
      <app-basic-terminologies>

      </app-basic-terminologies>

    </div>
    <div *ngIf="selectedSubmodule=='Hospitals'">
      <app-hospitals>

      </app-hospitals>

    </div>

    <div *ngIf="selectedSubmodule=='General Duty Assistant Introduction'">
      <app-gda-intro>

      </app-gda-intro>

    </div> 

    <div *ngIf="selectedSubmodule=='Health and Ill Health'">
      <app-health-and-ill-health>

      </app-health-and-ill-health>

    </div> 
    
    <div *ngIf="selectedSubmodule=='Person-Centred Care'">
      <app-person-centered-care>

      </app-person-centered-care>

    </div> 

    <div *ngIf="selectedSubmodule=='Effective Communication'">
      <app-effective-communication>

      </app-effective-communication>

    </div> 
    </div>
    
  </div>
  