<div class="study-container">
    <div class="study-header" *ngIf="selectedSubmodule==null">
      <h2>Let's Study</h2>
    </div>
    <div class="study-content">
      
      <div *ngIf="selectedSubmodule=='Introduction Video'">
      <app-introduction-video>

      </app-introduction-video>

    </div>

    <div *ngIf="selectedSubmodule=='Historical Perspective'">
      <app-historical-perspective>

      </app-historical-perspective>

    </div>
    <div *ngIf="selectedSubmodule=='Healthcare Delivery Systems'">
      <app-healthcare-delivery-systems>

      </app-healthcare-delivery-systems>

    </div>

    <div *ngIf="selectedSubmodule=='Basic Terminologies'">
      <app-basic-terminologies>

      </app-basic-terminologies>

    </div>
    <div *ngIf="selectedSubmodule=='Hospitals'">
      <app-hospitals>

      </app-hospitals>

    </div>
<!--module1 submodules ends-->
    <div *ngIf="selectedSubmodule=='General Duty Assistant Introduction'">
      <app-gda-intro>

      </app-gda-intro>

    </div> 

    <div *ngIf="selectedSubmodule=='Health and Ill Health'">
      <app-health-and-ill-health>

      </app-health-and-ill-health>

    </div> 
    
    <div *ngIf="selectedSubmodule=='Person-Centred Care'">
      <app-person-centered-care>

      </app-person-centered-care>

    </div> 

    <div *ngIf="selectedSubmodule=='Effective Communication'">
      <app-effective-communication>

      </app-effective-communication>

    </div> 
    <!--module2 submodules ends-->


    <div *ngIf="selectedSubmodule=='Microorganisms and Infections'">
      <app-microorg-and-infec>

      </app-microorg-and-infec>

    </div> 

    <div *ngIf="selectedSubmodule=='Basic Hygiene Routines and Infection Control'">
      <app-basic-hygeine-and-infec-control>

      </app-basic-hygeine-and-infec-control>

    </div> 

    <div *ngIf="selectedSubmodule=='Biomedical Waste Management'">
      <app-biomedical-waste-mgmnt>

      </app-biomedical-waste-mgmnt>

    </div> 
    <div *ngIf="selectedSubmodule=='Sterilization and Disinfection'">
      <app-sterlization-disinfection>

      </app-sterlization-disinfection>

    </div> 
    <div *ngIf="selectedSubmodule=='Aseptic Work and Cleaning Procedures'">
      <app-aseptic-work>

      </app-aseptic-work>

    </div> 
<!--module3 submodules ends-->

<div *ngIf="selectedSubmodule=='Anatomy and Physiology'">
  <app-anatomy-and-physio>

  </app-anatomy-and-physio>

</div> 

<div *ngIf="selectedSubmodule=='Medication Routes and Administration'">
  <app-medication-routes-and-admn>

  </app-medication-routes-and-admn>

</div> 


<!--add components above here only-->
    </div><!--dont touch-->
    
  </div><!--donttouch-->
  