.study-container {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    /* padding: 2px; */
    /* margin-left: 2px; */
    height: 60em;
    overflow: scroll;
  }
  
  .study-header {
    margin-bottom: 2rem;
  }
  
  .study-content {
    font-size: 1.25rem;
    color: #333;
  }
  