/* General styles for the module container */
.module-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 83vh;
  overflow-y: scroll;
}

.module-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
  
}

.module-card {
  width: 300px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  /* font-size:smaller; */
  font-family: 'Poppins', sans-serif;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.module-card:hover {
  transform: scale(1.05);
}

.module-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:80%;
  margin-right: 10px;
  /* font-size:smaller; */
  font-family: 'Poppins', sans-serif;

}

.module-title p{
  margin: 0%;
  font-size: x-small;
}

.module-title h6 {
  margin: 0;
}


.progress{
  font-size: x-small;
  margin: 0%;
  background-color: rgb(250, 250, 250);
  /* font-size:smaller; */
  font-family: 'Poppins', sans-serif;


}
.module-title .arrow {
  transition: transform 0.3s;
}

.module-title .arrow.open {
  transform: rotate(90deg);
}

.sub-modules {
  margin-top: 10px;
}

.sub-modules ul {
  list-style-type: none;
  padding: 0;
}

.sub-modules li {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: small;
  font-family: 'Poppins', sans-serif;

}

.sub-modules li:hover {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    margin: 10px;
  }

  .side-navbar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    padding-top: 50px;
    overflow-y: auto;
  }

  .side-navbar.open {
    left: 0;  /* When open, move the navbar to the left */
  }

  .side-navbar h4 {
    padding: 15px;
    margin: 0;
    cursor: pointer;
  }

  .side-navbar .close-btn {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .module-navbar {
    display: none;  /* Hide module navbar on small screens */
  }

  .module-container {
    padding-top: 60px;  /* Adjust for fixed navbar */
  }
}


@media (max-width: 479px) {
.module-container .module-card{
  width: 100%;
}

}