<!-- submodule.component.html -->
<app-study-nav (navigateTo)="onSectionChange($event)"></app-study-nav>

<div *ngIf="currentSection === 'start'">
  <!-- Start It content -->
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores deleniti aliquam adipisci delectus, itaque quas voluptatem doloribus sapiente in reiciendis!
</div>
<div *ngIf="currentSection === 'learn'">
  <!-- Learn It content -->
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed ex et reprehenderit illum aperiam debitis error. Ipsam beatae est eveniet?
</div>
<div *ngIf="currentSection === 'do'">
  <!-- Do It content -->
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit quam sed aut a consequuntur eaque harum cum natus ipsa. Delectus!
</div>
