<div class="mcq-section">
  <div class="mcq-question">
    I. A hospital with less than 100 beds is considered a small hospital.
  </div>
  <div class="mcq-options">
    <label class="mcq-option">
      <input type="radio" name="question1" value="True" />
      True
    </label>
    <label class="mcq-option">
      <input type="radio" name="question1" value="False" />
      False
    </label>
  </div>
</div>

<div class="mcq-section">
  <div class="mcq-question">
    II. OPD must be located:
  </div>
  <div class="mcq-options">
    <label class="mcq-option">
      <input type="radio" name="question2" value="Near Entrance" />
      Near Entrance
    </label>
    <label class="mcq-option">
      <input type="radio" name="question2" value="Near Operation Theatre" />
      Near operation theatre
    </label>
  </div>
</div>
